body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 1860px) and (min-width: 1201px) {
    .snd{
        margin-top: 20px;
    }
}

@media(max-width:1377px){
  .second-foot{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1300px) {
    .main-heading {
        font-size: 60px;
        line-height: 1.1;
        overflow: visible;
    }
}
@media (max-width: 1024px) {
     .main-heading {
        font-size: 50px;
        line-height: 1.1;
        overflow: visible;
    }
   
}
@media (max-width: 935px) {
     .main-heading {
        font-size: 2.5rem;
        line-height: 1.1;
        overflow: visible;
    }
   .third-navbar{
    display: flex;
    justify-content: space-between;
    padding:0 32px;
   }
   .second-navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;

   }
  .list{
    display: none;
  }  
.hamburgur{
    display: block;
}
.nav-buttons{
    display: none;
}
}

@media(max-width:910px){
    .service2 {
    
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 2rem;
    }
    
    .service2-card {
    
        min-width: 100%;
     padding: 3rem 1.5rem; 
    }
}


@media (max-width: 767px) {
   .first-footer {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
                padding: 40px 5%;
            }

            .last-footer {
                flex-direction: column;
                text-align: center;
                gap: 25px;
            }

            .last-list {
                justify-content: center;
                gap: 15px;
            }

            .second-footer2 {
                gap: 15px;
            }

            .list-btns {
                align-items: center;
               margin-right: 120px;
                
            }
   .rounded-icons-section {
                padding: 3rem 1rem;
                margin: 20px 0;
                margin-top: 60px;
            }
            
            .rounded-content {
                padding: 10px;
                gap: 15px;
            }
            
            .rounded-icons {
                gap: 15px;
                padding: 0 10px;
            }
   .heading{
        overflow-y: hidden;
    }
    .main-heading {
        font-size: 2.5rem;
        line-height: 1.1;
        overflow: visible;
    }
    
    .main-paragraph {
        padding: 0 1rem;
    }
    
    .nav-buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    
     .video-section{
        height: 60vh;
     }
    
}
@media (max-width: 638px) {
     .main-heading {
        font-size: 2rem;
        line-height: 1.1;
        overflow: visible;
    }
    .video-section{
        height: 50vh;
    }
}
@media (max-width: 499px) {
     .main-heading {
        font-size: 1.5rem;
         line-height: 1.1;
        overflow: visible;
    }
    .main-paragraph {
 font-size: 1rem;
}
.video-section{
    height: 40vh;
}
}
@media (max-width: 464px){
    .main-paragraph {
 font-size: 0.8rem;
}

}
@media (max-width: 379px){
     .main-paragraph {
 font-size: 0.7rem;
}
}
@media (max-width: 358px) {
     .main-heading {
        font-size: 1.3rem;
         line-height: 1.1;
        overflow: visible;
    }
    .main-paragraph {
 font-size: 0.6rem;
}
}
/* .service section  */

@media(max-width:1200px){

    .card-image img{
        height: 258px;
        width: 258px;
    }
  .card-content{
    height: 255px;
    width: 255px;
  }
}
@media(max-width:905px){

    .service{
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
        gap: 30px;
    }
    .card-image img{
        height: 384px;
        width: 384px;
    }
  .card-content{
    height: 190px;
    width: 380px;
  }
}
  @media(max-width:890px){
    .service{
        padding-left: 10%;
    }
    .card-image img{
        height: 350px;
        width: 350px;
    }
  .card-content{
    height: 180px;
    width: 340px;
  }
   .big-heading{
        font-size: 30px;
        margin-bottom: 50px;
    }
}
@media(max-width:830px){
    .service-heading{
        font-size: 30px;
        padding: 70px 15px;
    }

    .service{
        padding-left: 10%;
        gap: 55px;
    }
    .card-image img{
        height: 300px;
        width: 300px;
    }
  .card-content{
    height: 180px;
    width: 300px;
  }
}
@media(max-width:774px){
    .big-heading{
        font-size: 25px;
        margin-bottom: 40px;
    }
}
@media(max-width:730px){

    .card-image img{
        height: 270px;
        width: 270px;
    }
  .card-content{
    height: 200px;
    width: 260px;
  }
}
@media(max-width:660px){
   .service{
    gap: 20px;
   }
    .card-image img{
        height: 240px;
        width: 240px;
    }
  .card-content{
    height: 200px;
    width: 260px;
  }
   .big-heading{
        font-size: 20px;
        margin-bottom: 30px;
    }
}
@media(max-width:610px){
    .service-heading{
        font-size: 25px;
        padding: 50px 12px;
        padding-top: 80px;
    }
    
    .service{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        gap: 50px;
    }
    .card-image img{
        object-fit: contain;
        padding-left: 16%;
        height: 450px;
        width: 450px;
    }
  .card-content{
    height: 100%;
    width: 100%;
  }
  .service-btn{
    width: 100%;
  }
  .service2{
    margin-top: 50px;
  }
}
  
    @media(max-width:585px){
        .service-heading{
            font-size: 20px;
        }
   .card-image img{
        padding-left: 14%;
        height: 484px;
        width: 484px;
    }
    
    @media(max-width:530px){
   .card-image img{
        padding-left: 8%;
        height: 384px;
        width: 384px;
    }
  }
   @media(max-width:510px){
   .card-image img{
        padding-left: 14%;
        height: 384px;
        width: 384px;
    }
  }
  @media(max-width:465px){
   .card-image img{
        padding-left: 12%;
        height: 350px;
        width: 350px;
    }
  }
  @media(max-width:450px){
    .service-heading{
        font-size: 15px;
    }
   .card-image img{
        padding-left: 10%;
        height: 330px;
        width: 360px;
    }
  }
   @media(max-width:425px){
   .card-image img{
        height: 300px;
        width: 330px;
    }
  }
   @media(max-width:390px){
   .card-image img{
        padding-left: 15%;
        height: 270px;
        width: 300px;
    }
     .big-heading{
        font-size: 10px;
        margin-bottom: 12px;
    }
  }
   @media(max-width:370px){
   .card-image img{
        padding-left: 10%;
        height: 350px;
        width: 350px;
    }
   
  }
}
/* service ended  */
@media(max-width:543px){
    .big-heading{
        font-size: 25px;
        margin-bottom: 20px;
    }
}
  @media(max-width:436px){
    .big-heading{
        font-size: 20px;
        margin-bottom: 18px;
    }
}
@media(max-width:470px){
  .big-heading{
        font-size: 20px;
        margin-bottom: 18px;
    }
}
@media(max-width:436px){
    .big-heading{
        font-size: 20px;
        margin-bottom: 18px;
    }
}
@media(max-width:366px){
    .big-heading{
        font-size: 17px;
        margin-bottom: 12px;
    }
}
@media (max-width: 1474px) and (min-width: 910px) {
 
  .service2-card{
    height: 240px;
    width: 200px;
  }
}
/* photo ontent  */
@media(max-width:990px){
    .image-content{
        width: 300px;
        margin-top: 0px;
    }
}
@media(max-width:1135px){
  .photo-content{
    gap: 50px;
  }
}
@media(max-width:600px){
  .second-navbar{
    display: none;
  }
  .third-navbar{
    margin-top: 30px;
  }
  .photo-content{
    padding: 10px 0;
  }
  .photo2-content{
    padding: 10px 0;
  }
}
@media(max-width:890px){
    .photo-content{
        padding: 80px 0; 
        display: flex;
        flex-direction: column-reverse;
      
      }
    .photo2-content{
<<<<<<< HEAD
       padding: 80px 0; 
=======
      /* padding: 80px; */
>>>>>>> c649c400e3878c3746dc0063ce8e9adc7552651d
      display: flex;
      flex-direction: column;
    }
  
    .image-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap:nowrap;
    
    }
    .content-heading h1{
        width: 700px;
    }
    .content-para{
        width: 700px;
    }
    .content-buttons {
        margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;       
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    width: 700px;
    padding-bottom: 6px;    
    scrollbar-width: none;
  }
    .human {
    flex: 0 0 auto;         
    white-space: nowrap;   
}
    
}
@media(max-width:600px){
  .photo-content{
    padding: 20px 0;
  }
  .photo2-content{
    padding: 20px 0;
  }
  .photo3-content{
    padding-bottom: 100px;
    padding-top: 50px;
  }
}
@media(max-width:820px){
  .content-para{
    width: 550px;
  }
  .content-heading h1{
    width: 550px;
  }
}
@media(max-width:710px){
    .content-para{
        width: 500px;
    }
    .content-heading h1{
        width: 500px;
    }
    .content-buttons{
        width: 500px;
    }
}
@media(max-width:590px){
  .content-para{
    width: 380px;
  }
  .content-heading h1{
    width: 380px;
  }
}
@media(max-width:510px){
    .content-para{
        width: 350px;
    }
    .content-heading h1{
        width: 350px;
    }
    .content-buttons{
        width: 450px;
    }
    .image-ai img{
         height: 400px;
         width: 400px;
         object-fit: contain;
    }
}
@media(max-width:480px){
.first-list1 ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
   .rounded-icons-section {
                padding: 2rem 0.5rem;
            }
            
            .rounded-icons {
                gap: 12px;
            }
            
            .service-btn {
                padding: 10px 20px;
                font-size: 0.9rem;
            }
    .content-para{
        width: 350px;
    }
    .content-heading h1{
        width: 350px;
    }
    .content-buttons{
        width: 400px;
    }
    .image-ai img{
         height: 400px;
         width: 400px;
         object-fit: contain;
    }
     .first-footer {
                grid-template-columns: 1fr;
                text-align: center;
                gap: 25px;
            }

            .second-footer2 {
              justify-content: center;
              align-items: center;
                flex-direction: column;
                gap: 10px;
            }

            .last-list {
            
              flex-direction: column;
                gap: 10px;
            }

            .last-icons {
                gap: 15px;
            }

           .list-btns{
            margin-left:120px ;
                max-width: 100%;
            }
}
@media(max-width:430px){
    .content-para{
        width: 350px;
    }
    .content-heading h1{
        width: 350px;
    }
    .content-buttons{
        width: 350px;
    }
    .image-ai img{
         height: 350px;
         width: 350px;
    }
}
@media(max-width:375px){
    .content-para{
        width: 300px;
    }
    .content-heading h1{
        width: 300px;
    }
    .content-buttons{
        width: 300px;
    }
    .image-ai img{
         height: 300px;
         width: 300px;
    }
}
@media(max-width:330px){
    .content-para{
        width: 250px;
    }
    .content-heading h1{
        width: 250px;
    }
    .content-buttons{
        width: 250px;
    }
    .image-ai img{
         height: 250px;
         width: 250px;
    }
}
/* photo ended  */
/* moving section  */
@media (max-width: 1100px) {

  .moving-section {
    padding: 6rem 1.5rem;
  }

  .background-moving {
    height: 400px;
    max-width: 900px;
  }

  .moving-heading h1 {
    font-size: 1.9rem;
    text-align: center;
  }
}
@media (max-width: 850px) {

  .moving-section {
    padding: 5rem 1rem;
  }

  .background-moving {
    height: 350px;
    padding: 20px;
  }

  .moving-heading h1 {
    font-size: 1.6rem;
  }

  .moving-real {
    margin-top: 40px;
    gap: 16px;
  }

  .moving-card {
    padding: 10px 25px;
  }
}
@media (max-width: 642px) {

  .list-btns{
    font-size: 12px;
  }
}
@media (max-width: 583px) {

  .list-btns{
    font-size: 10px;
   
  }
}
@media (max-width: 600px) {

  .moving-section {
    padding: 4rem 1rem;
  }

  .background-moving {
    height: auto;
    padding: 20px 10px;
  }

  .moving-heading {
    padding-top: 20px;
  }

  .moving-heading h1 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
  }

  .moving-real {
    gap: 10px;
    margin-top: 30px;
    animation-duration: 30s; /* mobile par thora slow */
  }

  .moving-card {
    padding: 8px 18px;
    border-radius: 10px;
  }

  .moving-card img {
    width: 80px; /* chhoti screens par logos chotay honay chahiye */
  }
  @media(max-width:387px){
    .moving-heading h1{
        font-size: 1rem;
        line-height: 1.1;
    }
  }
  @media(max-width:330px){
    .moving-heading h1{
        font-size: 0.8rem;
        line-height: 1;
    }
  }
}
 @media(max-width:424px){
    .chat-icon{
      display: none;
    }
  }
/* moving ended  */
/* resolution container  */

@media(max-width:1420px){
    .resolution-content h1{
        width: 500px;
    }
        .resolution-content p{
        width: 500px;
    }
}
@media(max-width:1190px){
 .resolution-content h1{
        width: 400px;
    }
        .resolution-content p{
        width: 400px;
    }
}
@media(max-width:1090px){
 .start-btn2 , .contact-btn2{
  padding: 10px auto;
 }
    .resolution-container{
        margin: 20px;
        margin-top: 150px;
    }
    .resolution-container2{
      margin-bottom: 130px;
    }
.two-color-mystery{
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    
}
.resolution-content h1{
        width: fit-content;
    }
        .resolution-content p{
        width: fit-content;
    }
}
        
@media(max-width:608px){
  .resolution-container{
    margin-top: 50px;
  }
  .resolution-container2{
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
/* resolution ended  */
 @media(max-width:424px){
    .chat-icon{
      display: none;
    }
  }  

